
html{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    background-image: url("https://image.freepik.com/fotos-gratis/fundo-futurista-abstrato-do-codigo-binario-dos-dados-grandes-da-tecnologia_34629-907.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body>div{
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.Heade{
    max-height: 220px !important;
}

.Contender{
    color: white;   
}

.painelDublo{
    z-index: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: -10%;
    text-align: center;
    color: aqua;

    /* border: 3px solid; */
    border-radius: 100%;


    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
     -ms-transition: all 0.3s;
         transition: all 0.3s;    
}
.painelDublo>div{
    margin: auto;
}
.painelDublo>div>img{
    width: 100%;
    height: 100%;
    
    border-radius: 100%;
}

.Painel-centro{
    width: 100%;
    font-size: 25px;
    margin: auto;
}


.painelDublo:hover {
    cursor: pointer;
    color: White;
    transform: rotatex(360deg);
  }

 .Painel-baixo>a{
    font-size: 40px;
    margin: 0px 5px 0px 5px;
}

.painel-top{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: -20px;
}

.base-1{
    width: 100%;
    border-width: 48px 80px 0px 0px;
    border-color: #f90 transparent #f90;
    transform: rotate(180deg);
    border-style: solid;
    margin-left: 10%;   
}

.base-2{
    width: 100%;
    border-width: 48px 0px 0px 80px;
    border-color: #f90 transparent #f90;
    transform: rotate(180deg);
    border-style: solid;
    margin-right: 10%;
}

.painel-habilidade{
    flex: 1;
    margin: 25px;
    border: 3px groove #363232;
    border-radius: 20px;
    text-align: center;
    background-color: transparent;
    padding: 15px;
}


.subcaixa .mgs{
    width: 100px;
    background-color: black;
    border-style: double;
    margin: auto;
    margin-left: 30%;
    border-radius: 23px 23px 0px 0px;
}
.subcaixa .indic{
    width:100px;
    border-width: 28px 50px 0;
    border-color: #33302b transparent #000;
    margin:0;
    height: 0px;
    line-height: 0px;
    border-style: solid;margin-left: 30%;
}


.modal-dialog{
    height: 90%;
}

.Footer{
    color: blue;
}

/* Habilidade.html */

.titlo-graf{
    text-align: center; 
    background-color: #ff9900;   
    box-shadow: inset 0 0 1em #ff9900, 0 0 1em #ff9900;
    width: 100%;
    margin: auto;
    margin-left: -1px;
    margin-right: -1px;
    color: black;
    margin-bottom: 0px;
    border-bottom: none;
}

.tab-habilidade{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.graf-hab{
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    margin: 20px;

    border: 1px solid black;
    border-radius: 20px;
    box-shadow: inset 0 0 4em gold, 0 0 1em red;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.graf-hab>h1{margin: auto;}

.graficos{
    width: 40%;
    margin: auto;
}
.graficos>rect{
    opacity: 0.0 !important;
}



.Codigos{
    margin: auto;
    border: 1px solid;
    text-align: center;
    background-image: url("https://www.teahub.io/photos/full/149-1499935_github-logo.jpg");
    box-shadow: inset 0 0 1em white, 0 0 1em white;
    
}
.cod-links{
    margin-top: 15px;
}
.list-cod{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.list-cod>a{
color: white;
}





/* Medias */

@media (max-width: 450px)
{
    .Painel-centro{
        width: auto;
    }

    
}
@media (max-width: 585px)
{
    .navbar .navbar-brand{
        margin: auto;
    }
    .navbar .justify-content-end{
        margin: auto;
    }
}
@media (max-width: 1000px)
{
    .graf-hab{
        flex-direction: column;
    }
}





